@model IEnumerable<BaiTapLon.Models.NhanVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaNV)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenNV)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SoDienThoai)
    </td>
    <td>
        @Html.Raw(item.DiaChi)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MaNV }) |
        @Html.ActionLink("Details", "Details", new { id = item.MaNV }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MaNV })
    </td>
</tr>
}

</table>
